main>.container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 25px;

    .title-block {
        padding: 0px 40px;
        padding-bottom: 15px;
        justify-content: space-between;

        .name-block {
            font-size: 24px;
        }

        .btn-block {
            width: 160px;
            justify-content: center;

            .add-parser {
                background: rgb(104, 44, 96);
                padding: 8px 16px;
                border: none;
                border-radius: 2px;
                transition: .4s;
                &:hover {
                    cursor: pointer;
                    background: rgb(124, 52, 114);
                    padding: 8px 24px;
    
                }
            }
        }
    }

    & > section {
        width: 100%;
        height: 100%;
        background: rgba(16, 0, 19, 0.550);
        backdrop-filter: blur(2px);
        border-radius: 10px;
    }
}