<header>
    <div class="container">
        <div class="title">@@title</div>
        <div class="btn_block">
            <div class="btn">
                <span>Парсинг</span>
            </div>
            <div class="btn">
                <span>Статистика</span>
            </div>
            <div class="btn">
                <span>FAQ</span>
            </div>
            <div class="btn">
                <span>Настройки</span>
            </div>
        </div> 
        <div class="account">

        </div>
    </div>
</header>