body {
    flex-direction: column;

    * {
        font-family: Main;
        color: rgba(255, 255, 255, 0.981);
    }
}

header {
    // position: fixed;
    position: relative;
    width: 100%;
    height: auto;
    align-items: center;
    background: rgb(18, 15, 17);
    background: linear-gradient(15deg, rgba(18, 15, 17, 0.9749649859943977) 35%, rgba(84, 37, 78, 1) 80%);
    -webkit-box-shadow: 0px -18px 44px 32px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px -18px 44px 32px rgba(0, 0, 0, 0.36);
    box-shadow: 0px -18px 44px 32px rgba(0, 0, 0, 0.36);
    color: rgba(255, 255, 255, 0.792);
    justify-content: center;
    padding: 5px 0;
    z-index: 101;

    .container {
        align-items: center;
        justify-content: space-between;
        width: 90%;
    }

    .title {
        font-family: Adonais;
        font-size: 28px;
    }

    .btn_block {

        .btn {
            padding: 7px;
            text-align: center;
            width: 100px;
            margin: 0 7px;
            cursor: pointer;
            display: flex;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 13px;
            font-weight: 100;
            justify-content: center;
            color: rgb(250, 214, 247);
            transition: all 0.5s;
            position: relative;
        }

        .btn::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 95%;
            height: 100%;
            z-index: 1;
            background-color: rgba(255, 255, 255, 0.05);
            border-radius: 5px;
            transition: all 0.3s;
        }

        .btn:hover::before {
            opacity: 0;
            transform: scale(0.5, 0.5);
        }

        .btn::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 95%;
            height: 100%;
            z-index: 1;
            opacity: 0;
            border-radius: 4px;
            transition: all 0.3s;
            border: 1px solid rgba(255, 255, 255, 0.5);
            transform: scale(1.1, 1.1);
        }

        .btn:hover::after {
            opacity: 1;
            transform: scale(1, 1);
        }
    }

    .account {
        .icon-block {
            width: 30px;
            height: 30px;
            background: purple;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
        }
    }
}

main {
    // background: rgb(23, 18, 45);
    background-image: radial-gradient( rgba(43, 43, 43, 0.859), rgb(58, 55, 137));
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

